
<div class="container mt-5">
    <table class="table table-info table-striped">
        <thead>
          <tr>
            <th scope="col">Numero de ID</th>
            <th scope="col">Peso</th>
            <th scope="col">Valor COP</th>
            <th scope="col">Valor USD</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let calculo of calculoPeso">
            <td> EQUI_ {{calculo.id}}</td>
            <td>{{calculo.peso}} Kg</td>
            <td> {{calculo.costoCop | currency: 'USD' | lowercase}} </td>
            <td> {{calculo.costoUsd | currency: 'USD' | lowercase}} </td>
            
          </tr>
          
              </tbody>
      </table>
</div>

