<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" >
          <img src="../../../assets/cosmic.png" alt="" width="80" height="40" class="d-inline-block align-top">
          Controlador equipaje
        </a>
    </div>
  </nav>




  
  <div class="container mt-4" >
    <label class="form-label" >Ingres el peso en KG</label>
    <input type="number" class="form-control" [(ngModel)]="controladorEquipaje.peso" >

    

<button class="btn btn-primary btn-block mt-3" (click)="onController()">Calcular</button>

</div>